
.layout-menu {
    .layout-menuitem-root-text:hover,
    .layout-menuitem-text:hover {
        color: #003366 !important;
    }

    .layout-menuitem:not(.active-menuitem) {
        &:hover > .layout-menuitem-content {
            background-color: #003366 !important;
            color: white !important;
            transition: all 0.3s ease;
        }

        &:hover .layout-menuitem-icon {
            color: white !important;
        }

        &:hover .layout-submenu-icon {
            color: white !important;
        }
    }

    .layout-menuitem-content {
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .layout-menuitem-icon,
    .layout-submenu-icon {
        transition: color 0.3s ease;
    }
}

.layout-menu .layout-menuitem.active-menuitem {
    .layout-menuitem-content {
    }
}